@import "fonts";

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif; 
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.navbar-default {
    background-color: transparent;
    color: #fff;
    transition: background-color 200ms linear;
    
    a {
        color: #fff;
    }
}

.scrolled {
    background-color: #fff !important;
    color: #000;
    transition: background-color 200ms linear;

    a {
        color: #000;
    }
}

.flexslider {
    border: 0px;
    position: relative;

    .flex-direction-nav {
        a {
            height: 48px;
        }
    }

    .overlay {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: rgba(0,0,0,0.01);
    }
}